<h1>Contacts from Google Contacts</h1>

<% if @contacts.present? %>
  <table>
    <% @contacts[@page].each do |contact| %>
      <tr>
        <td><%= contact[0] %></td>
        <td><%= contact[1] %></td>
      </tr>
    <% end %>
  </table>

  <ul>
    <% (1..@contacts.length).each do |page| %>
      <li>
        <%= link_to page, root_path({page: page}) %>
      </li>
    <% end %>
  </ul>
<% else %>
    <%= link_to "Please show my contacts", oauth_path %>
    <br />
    <small>You need a Google Account.</small>
<% end %>
