<!DOCTYPE html>
<html>
  <head>
    <title>GetContacts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style type="text/css" media="all">
      ul li {
        display: inline-block;
        float: left;
        margin: 0 5px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
